<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Удобный магазин</title>
    <!-- Стили CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на наш магазин!</h1>
    </header>

    <main>
        <p>Здесь вы увидите много подходящих товаров на любой вкус.</p>
        <h2>Наш ассортимент:</h2>
        <!-- Товары -->
        <section class="products">
            <div class="product" style="float:left; width: 50%;">
                <h3>Жирный хряк</h3>
                <img src="https://kak2z.ru/my_img/img/2021/05/28/c2939.jpg" alt="Жирный хряк" width="300" height="300">
                <p><strong>Описание:</strong> Жирный хряк - очень добрый питомец или еда.</p>
                <p><strong>Цена:</strong> $200</p>
            </div>
            <div class="product" style="float:right; width: 50%;">
                <h3>МШК Фреде</h3>
                <img src="https://www.meme-arsenal.com/memes/9073769d4dfcfc07ceb79c65be53b42f.jpg" alt="МШК Фреде" width="300" height="300">
                <p><strong>Описание:</strong> МШК Фреде очень крутой мшк, любит детей.</p>
                <p><strong>Цена:</strong> $100</p>
            </div>
            <div class="product" style="float:left; width: 50%;">
                <h3>Черная сатана</h3>
                <img src="https://i.ytimg.com/vi/-rO9c0H4d64/maxresdefault.jpg" alt="Черная сатана" width="300" height="300">
                <p><strong>Описание:</strong> Сатана черная может превратить любой белый предмет в черный.</p>
                <p><strong>Цена:</strong> $777</p>
            </div>
            <div class="product" style="float:right; width: 50%;">
                <h3>Помник из Цифрового цирка</h3>
                <img src="https://basket-13.wbcontent.net/vol1978/part197837/197837171/images/big/1.webp" alt="Помник из Цифрового цирка" width="300" height="300">
                <p><strong>Описание:</strong> поминки из цифрого цирка, очень упортая игрушка помни которая умеет петь.</p>
                <p><strong>Цена:</strong> $10,000</p>
            </div>
        </section>
    </main>

    <footer>
        <!-- Подвал -->
        <p>© 2024 Удобный магазин. Все права защищены.</p>
    </footer>

    <!-- Скрипты JavaScript -->
    <script src="script.js"></script>
</body>
</html>
